# Build 결과물
/build/
/out/
/target/

# IDE 설정파일
.idea/
*.iml
.vscode/
*.class

# 로그 파일
*.log

# 시스템 파일
.DS_Store
Thumbs.db

# 환경설정
src/main/resources/application.properties
src/main/resources/application.yml